// TODO
.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 280px;

  svg {
    font-size: 28px;
    margin-right: 8px;
    color: var(--pink);
  }

  strong {
    font-size: 24px;
    color: var(--light-white);

    span {
      color: var(--pink);
    }
  }
}
